.wrapper
	position: absolute
	width: 100%
	height: 100%

.icon
	position: absolute

//  Работа приложения
.icon_1_1
	left: -7%
	top: 20%

.icon_1_2
	left: 0%
	bottom: 0%

.icon_1_3
	right: -8%
	top: 14%

.icon_1_4
	right: 0%
	bottom: 5%

//  Психологическая помощь
.icon_2_1
	left: -3%
	top: 15%

.icon_2_2
	left: 10%
	bottom: 8%

.icon_2_3
	right: 0%
	top: 20%

.icon_2_4
	right: 4%
	bottom: 4%

//  Помощь с уроками
.icon_3_1
	left: -9%
	top: 19%

.icon_3_2
	left: 0%
	bottom: 0%

.icon_3_3
	right: -6%
	top: 22%

.icon_3_4
	right: 0%
	bottom: 0%

// Media
@media screen and ( max-width: 1050px )
	.icon
		width: 96px

	//  Работа приложения
	.icon_1_3
		right: 3%
		top: 18%

	.icon_1_4
		right: 0%
		bottom: 1%

	//  Психологическая помощь
	.icon_2_2
		left: 8%
		bottom: 0%

	.icon_2_4
		right: 4%
		bottom: -1%

@media screen and ( max-width: 600px )
	.icon
		width: 140px

	//  Работа приложения
	.icon_1_1
		left: -7%
		top: -25%

	.icon_1_2
		left: -6%
		bottom: -26%

	.icon_1_3
		right: -1%
		top: -20%

	.icon_1_4
		right: 0%
		bottom: -30%

	//  Психологическая помощь
	.icon_2_1
		left: -3%
		top: -24%

	.icon_2_2
		left: -4%
		bottom: -25%

	.icon_2_3
		right: 0%
		top: -21%

	.icon_2_4
		right: 4%
		bottom: -27%

	//  Помощь с уроками
	.icon_3_1
		left: 0%
		top: -22%

	.icon_3_2
		left: 0%
		bottom: -22%

	.icon_3_3
		right: 0%
		top: -28%

	.icon_3_4
		right: 0%
		bottom: -27%
